<!DOCTYPE html>
<html lang="en">
   <!-- navbar with ejs include synthax -->
   <%- include('./partials/head.ejs') %>
<body>
   <!-- navbar with ejs include synthax -->
   <%- include('./partials/nav.ejs') %>
    
    <div class="text-center">
        <h2>All Blogs</h2>
        <div class="container">
          <div class="row">
            <% if(blogs.length > 0) { %>
                  <% blogs.forEach(blog => { %>
                    <div class="card card-body mt-3">
                      <a href="/blog/<%= blog._id %>">
                        <h3><%= blog.title %></h3>
                      </a>
                      <div class="card-title">
                        <a href="/blog/<%= blog._id %>">
                          <p><%= blog.snippet %></p>
                          <a href="/blog/<%= blog._id %>" class="btn btn-info rounded">view more
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-right" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M14.854 4.854a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 4H3.5A2.5 2.5 0 0 0 1 6.5v8a.5.5 0 0 0 1 0v-8A1.5 1.5 0 0 1 3.5 5h9.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4z"/>
                            </svg>
                          </a>
                        </a>
                      </div>
                    </div>
                  <% }) %>
            <% } else { %>
                <p class="text-center">There are no blogs to display...</p>
              <% } %>
          </div>
        </div>
       
    </div>
<!-- navbar with ejs include synthax -->
<%- include('./partials/footer.ejs') %>

   