<!DOCTYPE html>
<html lang="en">
   <!-- navbar with ejs include synthax -->
   <%- include('./partials/head.ejs') %>
<body>
   <!-- navbar with ejs include synthax -->
   <%- include('./partials/nav.ejs') %>
    
    <div class="container">
       <div class="row">
           <h2 class="text-center"><%= blog.title %></h2>
           <div class="card card-body">
              <p><%= blog.body %></p>
                <div class="d-flex justify-content-around border border-right-0 border-left-0 border-bottom-0">
                  <a href="/blog" class="btn btn-primary rounded mt-2">go back
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4z"/>
                      </svg>
                  </a>
                  <a class="btn btn-danger float-right mt-2 del" data-del="<%= blog._id %>">delete
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                      </svg>
                  </a>
                </div>
           </div>
       </div>
    </div>
    <script>
        const trashCan = document.querySelector('a.del');
        trashCan.addEventListener('click', (e) => {
           const endpoint = `/blog/${trashCan.dataset.del}`;
           fetch(endpoint, {
               method: 'DELETE'
           })
            .then((response) => {
               return response.json()
            })
            .then((data) => {
                window.location.href = data.redirect;
            })
            .catch((err) => {
                console.log(err);
            })
        });

    </script>
<!-- navbar with ejs include synthax -->
<%- include('./partials/footer.ejs') %>

   